*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, pink, white);
    font-size: medium;
    justify-content: center;
    align-items: center;
}
footer .navbar .container .collapse ul li a:hover{
    background-color: blue;
    color: white;
}
